@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('../fonts/YekanBakh-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('../fonts/YekanBakh-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('../fonts/YekanBakh-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('../fonts/YekanBakh-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('../fonts/YekanBakh-Fat.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Yekan Bakh', Arial, Helvetica, sans-serif;
  --font-mono: monospace;
  --color-coffee-dark: #211710;
  --color-coffee-deep: #0E0906;
  --color-coffee-brown: #573B2A;

  --color-gold: #C5934C;
  --color-gold-light: #EFD09D;
  --color-gold-dark: #9F7238;

  --color-cream: #E6DAC9;

  --color-background: #FCF9F8;
  --color-text-muted: #7D6E62;
}
@media (prefers-color-scheme: dark) {
  :root {
    
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: 'Yekan Bakh', Arial, Helvetica, sans-serif;
}


